.root {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}

.calendar {
  width: 300px;
  padding: 16px 24px;

  font-family: inherit;
  font-size: var(--font-size-m);
  line-height: var(--line-height-m);
  color: var(--color-text-primary);

  background-color: var(--dark-500);
  border-color: var(--dark-100);
  border-radius: var(--border-radius-s);
}

.inputContainer {
  position: relative;
}

.input {
  cursor: pointer;

  position: relative;

  width: 100%;
  padding-right: 40px;

  font-size: var(--font-size-m);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-m);
  color: var(--light-100);

  background-color: transparent;
  border: 1px solid var(--dark-300);
  border-radius: 2px;

  &:focus {
    background-color: var(--dark-500);
    border-color: var(--accent-700);
  }

  &:hover {
    background-color: var(--dark-500);
    border-color: var(--dark-100);
    outline: none;
  }

  &:disabled {
    cursor: not-allowed;
    background-color: var(--dark-500);
    border-color: var(--dark-300);
  }

  &.error {
    color: var(--danger-500);
    background-color: var(--dark-500);
    border-color: var(--danger-500);
  }
}

.icon {
  pointer-events: none;
  cursor: pointer;

  position: absolute;
  top: 70%;
  right: 12px;
  transform: translateY(-50%);

  color: var(--light-100);

  transition: fill 0.3s;

  &.error {
    color: var(--danger-500);
  }
}

.errorText {
  margin: 4px 0 0;
  font-size: var(--font-size-xs);
  line-height: var(--line-height-s);
  color: var(--danger-500);
}

.required {
  color: var(--danger-500);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 8px;
}

.buttonBox {
  display: flex;
}

.button {
  all: unset;

  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 36px;
  height: 36px;

  border-radius: 50%;

  transition: var(--transtition-duration-basic) background-color;

  &:hover {
    background-color: var(--dark-100);
  }
}

:global(.react-datepicker__day-name) {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  width: 36px;
  height: 24px;
  margin: 0;

  font-size: var(--font-size-m);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-m);
  color: var(--light-900);
}

:global(.react-datepicker__aria-live) {
  display: none;
}

:global(.react-datepicker-wrapper) {
  width: 100%;
}

:global(.react-datepicker__header) {
  padding: 0;

  font-size: var(--) font-size-m;
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-m);

  background-color: transparent;
  border-bottom: none;
}

:global(.react-datepicker__month) {
  margin: 0;
}

:global(.react-datepicker__month-container) {
  width: 252px;
}

:global(.react-datepicker__day-names) {
  margin-bottom: 12px;
}

/* day styles */
.day {
  position: relative;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  width: 36px;
  height: 36px;
  margin: 0;

  font-size: var(--font-size-m);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-m);
  color: var(--light-100);

  border-radius: 50%;
  outline: none;

  transition: var(--transtition-duration-basic) background-color;

  &:hover {
    background-color: var(--accent-700);
    border-radius: 50%;
  }

  &:focus-visible {
    background-color: transparent;
    border: 2px solid var(--accent-300);
  }

  &:global(.react-datepicker__day--outside-month) {
    color: var(--light-900);
  }

  &:global(.react-datepicker__day--weekend) {
    color: var(--danger-300);
  }

  &:global(.react-datepicker__day--today) {
    color: var(--accent-500);
  }

  &:global(.react-datepicker__day--selected) {
    color: var(--light-100);
    background-color: var(--accent-900);
    background-image: radial-gradient(28px circle, var(--color-accent-500) 48%, transparent 51%);
    border-radius: 50%;
  }

  &:global(.react-datepicker__day--keyboard-selected) {
    background-color: transparent;
  }

  /* date-range day styles */

  &:global(.react-datepicker__day--in-selecting-range) {
    background-color: var(--accent-900);
    border-radius: 0;
  }

  &:global(.react-datepicker__day--selecting-range-start) {
    border-radius: 50% 0 0 50%;
  }

  &:global(.react-datepicker__day--selecting-range-end) {
    border-radius: 0 50% 50% 0;
  }

  &:global(.react-datepicker__day--in-range) {
    background-color: var(--accent-900);
    border-radius: 0;
  }

  &:global(.react-datepicker__day--range-start) {
    border-radius: 50% 0 0 50%;
  }

  &:global(.react-datepicker__day--range-end) {
    color: var(--light-100);
    background-color: var(--accent-900);
    background-image: radial-gradient(28px circle, var(--accent-500) 48%, transparent 51%);
    border-radius: 0 50% 50% 0;
  }
}
