.label {
  color: var(--light-900);
  font-size: 14px;
}
.container {
  width: fit-content;
}

.trigger {
  display: flex;
  column-gap: 79px;
  align-items: center;
  justify-content: space-between;
  max-width: 100%;
  padding: 6px 12px;
  font-size: 16px;
  min-height: 36px;
  background: var(--dark-500);
  border: 1px solid var(--dark-100);
  color: var(--light-100);

  .icon {
    fill: var(--light-100);
    transition: 0.2s;
  }

  &:focus-visible:not([data-disabled]) {
    color: var(--light-900);
    border: 2px solid var(--accent-500);
    outline: none;
  }

  &[data-state='open'] {
    border-color: var(--light-100);
    border-radius: 2px 2px 0 0;
    color: var(--light-900);

    .icon {
      transform: rotate(180deg);
    }
  }

  &:hover {
    cursor: pointer;
    color: var(--light-900);
    border-color: var(--light-900);
    background-color: var(--dark-500);
  }


  &[data-disabled] {
    cursor: not-allowed;
    color: var(--dark-100);
    border-color: var(--dark-100);

    .withoutLabel {
      color: var(--dark-100)
    }
  }
}

.withoutLabel {
  color: var(--light-900)
}


.disabled {
  pointer-events: none;
  color: var(--dark-100);
  border-color: var(--dark-100);

  .withoutLabel {
    color: var(--dark-100);
  }

  &:hover {
    color: var(--dark-100);
    border-color: var(--dark-100);
  }
}


.icon {
  color: var(--light-100);
  fill: var(--light-100);
}

.content {
  color: var(--light-900);
  width: var(--radix-select-trigger-width);

  background-color: var(--dark-700);
  border: 1px solid var(--light-100);
  border-radius: 0 0 2px 2px;

  .item {
    cursor: pointer;
    padding: 6px 12px;
    outline: none;
    transition: 0.2s;

    &:hover,
    &:focus-visible,
    &[data-state='checked'] {
      color: var(--accent-500);
      background-color: var(--dark-300);
    }
  }
}
