.headerMobileMenuContainer {
  position: absolute;
  bottom: 0;

  display: flex;
  gap: var(--gap-mobileMenu);
  align-items: center;
  justify-content: space-between;

  width: 100%;
  min-width: 360px;
  height: var(--height-mobileMenu);
  padding: 0 48px;

  background-color: var(--dark-700);
  border-top: 1px solid var(--dark-300);
}
