.icon {
  width: 24px;
  height: 24px;
  color: var(--light-100);
  transition: 0.1s ease;

  &:hover {
    color: var(--light-900);
  }

  &:active {
    color: var(--light-100);
  }
}

.alert {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 12px 24px;

  color: white;

  border-radius: 2px;

  &.success {
    background-color: var(--success-900);
    border: 1px solid var(--success-500);
  }

  &.error {
    background-color: var(--danger-900);
    border: 1px solid var(--danger-500);
  }
}
