.buttonRoot {
    all: unset;
    background: unset;
    display: flex;
    align-items: center;
    cursor: pointer;
    box-sizing: border-box;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;

    &.primary {
        background-color: blue;
        color: white;
    }

    &.secondary {
        background-color: gray;
        color: blue;
    }

    &.fullWidth {
        width: 100%;
        justify-content: center;
    }

    &:focus-visible {
        outline: 2px solid blue;
    }
}
