.buttonRoot {
  all: unset;

  cursor: pointer;

  display: flex;
  align-items: center;

  box-sizing: border-box;
  padding: 0.5rem 1rem;

  background: unset;
  border-radius: 0.25rem;

  &.primary {
    color: white;
    background-color: blue;
  }

  &.secondary {
    color: blue;
    background-color: gray;
  }

  &.fullWidth {
    justify-content: center;
    width: 100%;
  }

  &:focus-visible {
    outline: 2px solid blue;
  }
}
