.overlay {
  position: fixed;
  inset: 0;
  background: var(--overlay-color);
  animation: overlay-show 150ms cubic-bezier(0.16, 1, 0.3, 1);
}

.content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background: var(--dark-300);
  border: 1px solid var(--dark-100);

  animation: content-show 150ms cubic-bezier(0.16, 1, 0.3, 1);
}

.header {
  height: fit-content;
  padding: 12px 24px;
  border-bottom: 1px solid var(--dark-100);
}

@keyframes overlay-show {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes content-show {
  from {
    transform: translate(-50%, -48%) scale(0.96);
    opacity: 0;
  }

  to {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
}
