.content {
  position: absolute;
  top: 100%;
  right: 0;

  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: flex-start;

  width: max-content;
  max-width: 140px;
  padding: 12px;

  color: var(--light-100);

  background-color: var(--dark-500);
  border: 1px solid var(--dark-100);
  border-radius: 2px;
}

.trigger {
  cursor: pointer;
  position: relative;
  color: var(--accent-500);
}
