:root {
  --font-family-primary: 'Inter', sans-serif;

  // line heights
  --line-height-s: 16px;
  --line-height-m: 24px;
  --line-height-l: 36px;

  /**
 * Font size variables
 * @type {Object}
 * @property {number} --font-size-xs - Extra small font size (12px)
 * @property {number} --font-size-s - Small font size (14px)
 * @property {number} --font-size-m - Medium font size (16px)
 * @property {number} --font-size-l - Large font size (18px)
 * @property {number} --font-size-xl - Extra large font size (20px)
 * @property {number} --font-size-xxl - Extra extra large font size (26px)
 */
  // font sizes
  --font-size-xs: 0.75rem;
  --font-size-s: 0.875rem;
  --font-size-m: 1rem;
  --font-size-l: 1.125rem;
  --font-size-xl: 1.25rem;
  --font-size-xxl: 1.625rem;

  // font weights
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
}
