:root {
  --width-recaptcha: 314px;
  --flag-size: 20px;
  --svg-size: 24px;
  --radio-size: 24px;
  --radio-indicator-size: 14px;
  --radio-shadow-size: 12px;
  --height-header: 60px;
  --height-mobileMenu: 60px;
  --gap-mobileMenu: 36px;
}
