.root {
  overflow: hidden;
}

.viewport {
  width: 100%;
  height: 100%;
}

.scrollbar {
  touch-action: none;
  user-select: none;

  display: flex;

  max-width: 100%;
  max-height: 100%;

  transition: background-color 300ms ease-out;
}

.scrollbar[data-orientation='vertical'] {
  width: 4px;
  padding: 4px 0;
}

.scrollbar[data-orientation='horizontal'] {
  flex-direction: column;
  height: 4px;
  padding: 0 3px;
}

.thumb {
  cursor: pointer;

  position: relative;

  flex-grow: 1;

  background-color: var(--dark-300);
  border-radius: 3px;

  transition: background-color 300ms ease-out;
}

.thumb:hover {
  background-color: var(--light-900);
}

.thumb::before {
  content: '';
  position: absolute;

  [data-orientation='horizontal'] & {
    width: 100%;
    height: 4px;
  }
}
