/* stylelint-disable scss/at-mixin-argumentless-call-parentheses */
@use '@/styles' as *;

.primary,
.secondary,
.outlined,
.link:focus-visible {
  outline: 2px solid var(--accent-300);
}

.primary {
  @include button();

  background-color: var(--accent-500);

  &:hover {
    color: var(--light-100);
    background-color: var(--accent-100);
  }

  &:active {
    color: var(--light-500);
    background-color: var(--accent-700);
  }

  &:disabled {
    color: var(--light-900);
    background-color: var(--accent-900);
  }
}

.secondary {
  @include button();

  background-color: var(--dark-300);

  &:hover {
    background-color: var(--dark-100);
  }

  &:active {
    background-color: var(--dark-600);
  }

  &:disabled {
    color: var(--light-900);
    background-color: var(--dark-500);
  }
}

.outlined {
  @include button();

  color: var(--accent-500);
  outline: 1px solid var(--accent-500);

  &:hover {
    color: var(--accent-100);
    outline: 1px solid var(--accent-100);
  }

  &:active {
    color: var(--accent-700);
    outline: 1px solid var(--accent-700);
  }

  &:disabled {
    color: var(--accent-900);
    outline: 1px solid var(--accent-900);
  }
}

.ghost {
  @include button();

  color: var(--accent-500);

  &:hover {
    color: var(--accent-100);
  }

  &:active {
    color: var(--accent-700);
  }

  &:disabled {
    color: var(--accent-900);
  }
}

button.link,
a.link {
  cursor: pointer;
  color: var(--accent-500);
  text-decoration: none;
  background-color: transparent;

  &:hover {
    color: var(--accent-100);
  }

  &:active {
    color: var(--accent-700);
  }

  &:disabled {
    color: var(--accent-900);
  }
}

.fullWidth {
  width: 100%;
}
