.headerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 60px;
  padding: 12px 64px;

  .logo {
    font-size: var(--font-size-xxl);
    text-decoration: none;
  }
}

.buttonsContainer {
  display: flex;
  gap: 28px;
  align-items: center;
}

.select {
  width: 40px;
}

.selectItem {
  display: flex;
  gap: 12px;
}
