.root {
  width: max-content;

  .trigger {
    all: unset;

    cursor: pointer;

    position: relative;

    padding: 8px 24px;

    color: var(--dark-100);

    opacity: 0.9;
    background-color: transparent;

    transition: all 0.3s;

    // Основной ::before для триггера
    &::before {
      content: '';

      position: absolute;
      bottom: 0;
      left: 0;

      width: 100%;
      height: 2px;

      background-color: var(--dark-100);

      transition: background-color 0.3s;
    }

    // Состояния для основного ::before
    &[data-state='active']::before {
      background-color: var(--accent-500);
    }

    &[data-state='active'][data-disabled]::before {
      background-color: var(--accent-900);
    }

    // Интерактивные состояния
    &:focus-visible {
      border-radius: 2px;
      outline: 2px solid var(--accent-700);
      outline-offset: 1px;
    }

    &:hover {
      color: var(--light-100);
      background-color: var(--accent-100);

      &::before {
        background-color: var(--light-100);
      }
    }

    &:active {
      background-color: var(--accent-100);
    }

    // Активное состояние
    &[data-state='active'] {
      color: var(--accent-500);
      opacity: 1;

      &:hover {
        background-color: var(--accent-900);
      }

      &:active {
        background-color: var(--accent-100);
      }

      &[data-disabled] {
        cursor: initial;
        color: var(--accent-900);

        &:hover {
          background-color: transparent;
        }

        &:active {
          background-color: transparent;
        }
      }
    }

    // Отключенное состояние
    &[data-disabled] {
      cursor: initial;
      color: var(--dark-300);

      &::before {
        background-color: var(--dark-300);
      }

      &:hover {
        background-color: transparent;
      }

      &:active {
        background-color: transparent;
      }
    }
  }

  .content {
    &:focus-visible {
      outline: none;
    }
  }
}
